<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>Penguin {$title}</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<style>
	  body {
	     padding-top: 60px;
	  }
	</style>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Penguin Hello</a>
        </div>
      </div>
    </div>

    <div class="container">
	  {block "_content_"}{/block}
    </div>

  </body>
</html>
